@import url('http://fonts.cdnfonts.com/css/nexa-bold');
*{
    margin: 0px;
    box-sizing: border-box;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
body{
    background-color: #E5E5E5;
    gap:12px;
}
@keyframes popup{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

.Logo{
    width: 136px;
    height: 45.08px;
    left: 41px;
    position:relative;

}
.site{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
.sidebar{
    background-color: #E5E5E5;
    margin-top: 20px;
}
.Menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #E5E5E5;
    padding: 20px;
}
#button1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px;
    width: 207px;
    height: 64px;
    left: 40px;
    top: 150px;
    color: #000000;
}
#button1:hover{
    background-color: rgb(38, 106, 209);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    color: aliceblue;
}
#button2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background-color: #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px;
    width: 207px;
    height: 64px;
    left: 40px;
    top: 150px;
    color: #000000;
}
#button2:hover{
    background-color: rgb(38, 106, 209);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    color: aliceblue;
}
#button3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 18px;
    background-color: #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px;
    width: 207px;
    height: 64px;
    left: 40px;
    top: 150px;
    color: #000000;
}
#button3:hover{
    background-color: rgb(38, 106, 209);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    color: aliceblue;
}
#button4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px;
    width: 207px;
    height: 64px;
    left: 40px;
    top: 150px;
    color: #000000;
}
#button4:hover{
    background-color: rgb(38, 106, 209);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    color: aliceblue;
}
#button5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    background-color: #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px;
    width: 207px;
    height: 64px;
    left: 40px;
    top: 150px;
    color: #000000;
}
#button5:hover{
    background-color: rgb(38, 106, 209);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    color: aliceblue;
}
#button6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px;
    width: 207px;
    height: 64px;
    left: 40px;
    top: 150px;
    color: #000000;
}
#button6:hover{
    background-color: rgb(38, 106, 209);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    color: aliceblue;
}
#button7{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px;
    width: 207px;
    height: 64px;
    left: 40px;
    top: 150px;
    color: rgb(250, 8, 8);
}
#button7:hover{
    background-color: rgb(250, 8, 8);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    color: aliceblue;
}

.main{
    background-color: rgb(238, 255, 250);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 3;
    border-radius: 20px;
}
#query{
    background-color: rgb(241, 244, 250);
    position:relative;
    left:60px;
    top:24px;
    box-sizing: border-box;
    height: 56px;
    width: 323px;
    border-radius: 16px;
    border: 0px;
    outline: 0px;
    padding: 0px 54px;
}

::placeholder {
    color: rgb(187, 184, 184);
    opacity: 0.7; 
}

.searchbutton{
    position:relative;
    top:32px;
    left:114px;
    box-sizing: border-box;
    border:0px;
    background-color:rgb(241, 244, 250);
    z-index: 1;
    border-radius: 12px;
    cursor:pointer;
}
.searchbutton:hover{
    animation: rotation 0.4s  linear;
}
.expert{
    position: relative;
    left: 32px;
    top: 24px;
}
.find{
    background-color: #40BAFF;
    position: absolute;
    left:358px;
    top:270px;
    z-index: 0;
    cursor:pointer;
    box-sizing: border-box;
    height: 56px;
    width: 180px;
    border-radius: 20px;
    color: white;
    border: 0px;
}
.portext{
    position: relative;
    left: 68px;
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 29px;
    color:#000000
}
.Coins{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left:320px;
    gap:24px;
    margin-top: 16px;
}
.Bitcoin{
    background-color: white;
    margin-left: 0px;
    height:70px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    border-radius: 20px;
}
.btcpairtxt{
    font-size: 18px;
    line-height: 1px;
    color:#1f1e1e
}
.str{
    font-size: 18px;
    line-height: 16px;
    color:#000000
}
.bit{
    background-color:#eca137;
    box-sizing: border-box;
    border:0px;
    height: 54px;
    width: 54px;
    border-radius: 12px;
    cursor: pointer;
}
.variationbtc{
    color:rgb(104, 231, 110)
}
.ethereum{
    background-color: white;
    margin-left: 0px;
    height:70px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    border-radius: 20px;
}
.bnb{
    background-color: white;
    margin-left: 0px;
    height:70px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    border-radius: 20px;
}
.eth{
    background-color:#454f68;
    box-sizing: border-box;
    border:0px;
    height: 54px;
    width: 54px;
    border-radius: 12px;
    cursor: pointer;
}
.bina{
    background-color:#ecf021;
    box-sizing: border-box;
    border:0px;
    height: 54px;
    width: 54px;
    border-radius: 12px;
    cursor: pointer;
}
.ethpairtxt{
    font-size: 18px;
    line-height: 1px;
    color:#1f1e1e
}
.bnbpairtxt{
    font-size: 18px;
    line-height: 1px;
    color:#1f1e1e
}
.variationeth{
    color:rgb(206, 54, 54)
}
.variationbnb{
    color:rgb(104, 231, 110)
}
.graph{
    position: relative;
    top:52px; 
    left:20px;
    cursor: pointer;
}
.AccountDetails{
    background-color: #E5E5E5;
}
.accountbox{
    background-color: rgb(238, 255, 250);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 29px;
    padding: 16px;
    height: 1021px;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:80px;
    padding:20px
}
.account{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:8px;
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 19px;
    text-decoration: underline;
}
.arrowb{
    background-color:rgb(238, 255, 250);
    border:0px;
    cursor: pointer;
}
.acc{
    position: relative;
    left:12px;
    margin-top: 32px;
}
.balance{
    margin-top: 16px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 1%, rgba(45,60,253,1) 100%);
    box-sizing: border-box;
    border-radius: 20px;
    height: 155px;
    width: 274px;
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color:white;
    cursor: pointer;
}
.var{
    color:rgb(104, 231, 110);
    font-size: 16px;
    line-height: 16px;
}
.actions{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.deposit{
    background: rgb(34,64,195);
    background: linear-gradient(0deg, rgba(34,64,195,1) 8%, rgba(36,44,147,1) 66%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 0px;
    border-radius: 12px;
    height: 54px;
    width: 129px;
    cursor: pointer;
    color:white;
}
.draw{
    background: rgb(30,206,242);
    background: linear-gradient(0deg, rgba(30,206,242,1) 23%, rgba(36,139,147,1) 90%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 0px;
    border-radius: 12px;
    height: 54px;
    width: 129px;
    cursor: pointer;
    color:white
}
.trastitle{
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    position: relative;
    top:40px;
    left:12px;
}
.transactions{
    position: relative;
    top:54px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.tr1{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: 0px;
    height:70px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    border-radius: 20px;
}
.tr1b{
    background-color:#eca137;
    box-sizing: border-box;
    border:0px;
    height: 54px;
    width: 54px;
    border-radius: 12px;
    cursor: pointer;
}
.tr1c{
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 8px;
}
.d1{
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 6px;
}
.data1{
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 12px;
    color:rgb(104, 231, 110);
}
.tr2{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: 0px;
    height:70px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    border-radius: 20px;
}
.tr2b{
    background-color:#454f68;
    box-sizing: border-box;
    border:0px;
    height: 54px;
    width: 54px;
    border-radius: 12px;
    cursor: pointer;
}
.tr3{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: 0px;
    height:70px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    border-radius: 20px;
}
.tr3b{
    background-color:#454f68;
    box-sizing: border-box;
    border:0px;
    height: 54px;
    width: 54px;
    border-radius: 12px;
    cursor: pointer;
}
.data2{
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 12px;
    color:rgb(206, 54, 54);
}
.noti{
    cursor: pointer;
}